pywin32==300
keyboard==0.13.5
easyocr==1.2.4
typing_extensions==3.7.4.3
polib==1.1.0
six==1.15.0
dataclasses==0.8
hypothesis==6.2.0
moviepy==1.0.3
numba==0.52.0
protobuf==3.14.0
psutil==5.8.0
pynvml==8.0.4
rich==9.10.0
tensorflow==2.4.1
tqdm==4.56.2
win32gui==221.6
xmlrunner==1.7.7
